/build/
/build-*/
/out/
/bin/
/lib/
/compile_commands.json
/CMakeCache.txt
/CMakeFiles/
/Testing/
/profiles/
cmake-build-*/
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.hsaco
*.co
*.prof
*.csv
*.db
*.pyc
__pycache__/
RESULTS.TXT
